@import url("https://fonts.googleapis.com/css?family=Lato:100");
body {
    background-image: url("bc.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
}

.card {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 25px 30px 0 black;
    transition: 0.3s;
    margin-top: 10px;
    height: 660px;
    margin-bottom: 15px;
    max-width: 35%;
}

.us {
    text-align: center;
    color: rgba(245, 241, 10, 0.959);
    font-size: 32px;
    font-family: Abril Fatface, open sans;
    font-weight: bold;
}

.de {
    margin-top: -5px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#form1 {
    margin: 3em 2.5em;
}

input[type=text] {
    max-width: 450px;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

input[type=email] {
    max-width: 450px;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

input[type=tel] {
    max-width: 450px;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

#name::placeholder,
#mob::placeholder,
#pass::placeholder,
#mob1::placeholder {
    font-size: 15px;
}

input[type=password] {
    max-width: 350px;
    padding: 12px 20px;
    margin: 10px 0px;
    margin-right: 90px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

b {
    color: yellow;
    margin-right: 250px;
    margin-left: 5px;
}

input[type=date] {
    max-width: 225px;
    padding: 12px 20px;
    margin: 15px 10px;
    margin-right: 100px;
    margin-bottom: -30px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    cursor: pointer;
}

label {
    color: white;
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: bolder;
}

#gen {
    margin-left: 20px;
}

input[type=radio] {
    margin: 0em 0.2em;
    margin-bottom: 50px;
}

input[type=radio]:nth-child(1) {
    margin-left: 2em;
}

.btn {
    width: 160px;
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    height: 80px;
    margin-left: 5px;
    margin-top: 100px;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: medium;
    transition: 0.5s;
    background: linear-gradient(90deg, var(--c1, #1305da), var(--c2, rgb(7, 179, 231)) 51%, var(--c1, #077dec)) var(--x, 0)/ 200%;
    color: white;
    -webkit-box-shadow: 0 5px 7px rgba(11, 12, 12, 0.3);
    -moz-box-shadow: 0 5px 7px rgba(13, 14, 15, 0.3);
    box-shadow: 0 5px 7px rgba(6, 7, 8, 0.3);
}

.btn:hover {
    /*background-color: chartreuse;*/
    --x: 100%;
}

.foot {
    text-align: center;
    color: rgb(244, 248, 10);
    margin-top: 40px;
    font-family: magneto;
    font-weight: bold;
}

#thanks {
    font-family: cursive;
    font-size: 30px;
}

#Get {
    color: lightcyan;
    margin-left: 770px;
    margin-top: -450px;
    font-family: 'poppins', sans-serif;
    font-size: 3.3em;
    position: static;
}

.bg-modal {
    background-color: rgba(145, 144, 144, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.modal-contents {
    height: 300px;
    width: 500px;
    background-color: black;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

.btn2 {
    width: 160px;
    text-decoration: none;
    justify-content: center;
    padding: 15px 20px 15px 20px;
    height: 80px;
    border: 2px solid #1686d9;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: medium;
    transition: 0.5s;
    color: white;
    -webkit-box-shadow: 0 5px 7px rgba(11, 12, 12, 0.3);
    -moz-box-shadow: 0 5px 7px rgba(13, 14, 15, 0.3);
    box-shadow: 0 5px 7px rgba(6, 7, 8, 0.3);
}

.btn2:hover {
    background-color: #1686d9;
    color: white;
    border: 2px solid #1686d9;
}

img {
    margin-top: 20px;
    width: 40%;
    height: 15%;
    justify-content: center;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
}

.close:hover {
    color: #666;
}